<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    %sveltekit.head%
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="RDA" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="stylesheet" href="/font/stylesheet.css" />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "RCN Lagos Children",
        "url": "https://children.rcnlagos.org"
      }
    </script>
  </head>
  <body data-sveltekit-preload-data="hover" data-sveltekit-reload>
    <div style="display: contents">%sveltekit.body%</div>
  </body>
</html>
